<h1>Grammatical nature</h1>

<div>
  <div>name : {{grammar.name}}</div>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/grammars/create" role="button">
    Add a word
  </a>
  <a class="btn btn-secondary" href="/grammars/update/{{grammar.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/grammars/delete/{{grammar.id}}" role="button">
    Delete
  </a>
</div>